
@{
    ViewBag.Title = "Index";
}

<h2>This is the simple Asp.net mvc5 web application</h2>
<h3>My name is Vishal.</h3>

<p>First Name : @ViewBag.FirstName</p>
<p>Last Name : @ViewBag.LastName</p>
<p>Address: @ViewBag.Address</p>
